doctype html
html(lang='en')
	// Mirrored from demos.creative-tim.com/paper-dashboard-pro/examples/dashboard/overview.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 29 Mar 2018 17:11:03 GMT
	head
		meta(charset='utf-8')
		link(rel='apple-touch-icon', sizes='76x76', href='/paperDashboard/img/apple-icon.png')
		link(rel='icon', type='image/png', sizes='96x96', href='/paperDashboard/img/favicon.png')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title Landlord - Rooms
		// Bootstrap core CSS
		link(href='/paperDashboard/css/bootstrap.min.css', rel='stylesheet')
		// Paper Dashboard core CSS
		link(href='/paperDashboard/css/paper-dashboard23cd.css?v=1.2.1', rel='stylesheet')
		// CSS for Demo Purpose, don't include it in your project
		link(href='/paperDashboard/css/demo.css', rel='stylesheet')
		// Fonts and icons
		link(href='/paper/font-awesome-4.7.0/css/font-awesome.min.css', rel='stylesheet')
		link(href='../../../../fonts.googleapis.com/cssbba8.css?family=Muli:400,300', rel='stylesheet', type='text/css')
		link(href='/paperDashboard/css/themify-icons.css', rel='stylesheet')
		link(rel="stylesheet", href="/paper/css/photoswipe.css")
	body
		.wrapper
			.sidebar(data-background-color='brown', data-active-color='danger')
				//
					Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
					Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
				.logo
					a.simple-text.logo-mini(href='/landlord')
						| M
					a.simple-text.logo-normal(href='/landlord')
						| Mayora
				.sidebar-wrapper
					.user
						.info
							.photo
								img(src='/paperDashboard/img/faces/face-2.jpg')
							a.collapsed(data-toggle='collapse', href='#collapseExample')
								span
									| Chet Faker
									b.caret
							.clearfix
							#collapseExample.collapse
								ul.nav
									li
										a(href='#profile')
											span.sidebar-mini Mp
											span.sidebar-normal My Profile
									li
										a(href='#edit')
											span.sidebar-mini Ep
											span.sidebar-normal Edit Profile
									li
										a(href='#settings')
											span.sidebar-mini S
											span.sidebar-normal Settings
					ul.nav
						li
							a(href='/landlord')
								i.ti-view-list-alt
								p
									| Dashboard
						li.active
							a(data-toggle='collapse', href='#componentsExamples')
								i.ti-package
								p
									| Maintenance
									b.caret
							#componentsExamples.collapse.in
								ul.nav
									li.active
										a(href='/landlord/rooms')
											span.sidebar-mini R
											span.sidebar-normal Rooms
									li
										a(href='/landlord/tenants')
											span.sidebar-mini T
											span.sidebar-normal Tenants
						li
							a(data-toggle='collapse', href='#formsExamples')
								i.ti-clipboard
								p
									| Transactions
									b.caret
							#formsExamples.collapse
								ul.nav
									li
										a(href='/landlord/payments')
											span.sidebar-mini P
											span.sidebar-normal Payments
									li
										a(href='/landlord/deposits')
											span.sidebar-mini D
											span.sidebar-normal Deposits
						li
							a(href='/landlord/utilities')
								i.ti-panel
								p
									| Utilities
			.main-panel
				nav.navbar.navbar-default
					.container-fluid
						.navbar-minimize
							button#minimizeSidebar.btn.btn-fill.btn-icon
								i.ti-arrow-left
						.navbar-header
							button.navbar-toggle(type='button')
								span.sr-only Toggle navigation
								span.icon-bar.bar1
								span.icon-bar.bar2
								span.icon-bar.bar3
							a.navbar-brand
								| Rooms
						.collapse.navbar-collapse
							ul.nav.navbar-nav.navbar-right
								li.dropdown
									a.dropdown-toggle.btn-rotate(href='#notifications', data-toggle='dropdown')
										i.ti-bell
										span.notification 5
										p.hidden-md.hidden-lg
											| Notifications
											b.caret
									ul.dropdown-menu
										li
											a(href='#not1') Notification 1
										li
											a(href='#not2') Notification 2
										li
											a(href='#not3') Notification 3
										li
											a(href='#not4') Notification 4
										li
											a(href='#another') Another notification
				.content
					.container-fluid
						.row
							.col-lg-4.col-sm-6
								.card
									.card-content
										.row
											.col-xs-7
												.numbers.pull-left
													| PhP 5,000
											.col-xs-5
												.pull-right
													span.label.label-success
														| Status
										h6.big-title
											| Room
											span.text-muted  no.
											|  23
										img(src='/paper/img/img-1.jpg')
									.card-footer
										hr
										.footer-title &nbsp;
										.pull-right
											button.btn.btn-info.btn-fill.btn-icon.btn-sm(data-toggle='modal' data-target='#roomModal')
												i.ti-eye
				footer.footer
					.container-fluid
						nav.pull-left
							ul
								li
									a(href='/index/ourteam')
										| Our Team
								li
									a(href='/index/abouttheapp')
										| About the App
						.copyright.pull-right
							| © 
							script.
								document.write(new Date().getFullYear())
							| , made with 
							i.fa.fa-heart.heart
							|  by 
							a Mayora Team
		#roomModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='false')
			.modal-dialog.modal-register
				.modal-content
					.modal-header.no-border-header.text-center
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h5.text-muted Room ID
						h3.modal-title.text-center PhP 5,000
					form(method='POST' action='#')
					.modal-body
						center
							h4.text-muted Room Pictures
						.my-gallery(itemscope='', itemtype='')
							.row
								figure.col-md-3.col-sm-4.gallery-item(itemprop='associatedMedia', itemscope='', itemtype='')
									a(href='/paper/img/img-1.jpg', itemprop='contentUrl', data-size='750x1002')
										img.vertical-image.img-rounded.img-responsive(src='/paper/img/img-1.jpg', itemprop='thumbnail', alt='Image description')
									figcaption.gallery-caption(itemprop='caption description') Living Room
						#roomInfo
							center
								h4.text-muted Room Details
							.row
								.col-md-12
									label Person Capacity: 3
									br
									label With Comfort Room: Yes
									br
									label With Kitchen: Yes
									br
									label With Garage: Yes
									br
									label Number of Bedrooms: 1
									br
									label With Own Electric and Water Meter: No
									br
									label Down Payment Rule: 2 months deposit, 1 month advance
					.modal-footer.no-border-footer
						span.text-muted.text-center
							| Don't have an account yet? 
							a(href='/signup') Click Here
		.pswp(tabindex='-1', role='dialog', aria-hidden='true')
			//
				Background of PhotoSwipe.
				It's a separate element as animating opacity is faster than rgba().
			.pswp__bg
			// Slides wrapper with overflow:hidden.
			.pswp__scroll-wrap
				//
					Container that holds slides.
					PhotoSwipe keeps only 3 of them in the DOM to save memory.
					Don't modify these 3 pswp__item elements, data is added later on.
				.pswp__container
					.pswp__item
					.pswp__item
					.pswp__item
				// Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
				.pswp__ui.pswp__ui--hidden
					.pswp__top-bar
						// Controls are self-explanatory. Order can be changed.
						.pswp__counter
						button.pswp__button.pswp__button--close(title='Close (Esc)')
						button.pswp__button.pswp__button--share(title='Share')
						button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
						button.pswp__button.pswp__button--zoom(title='Zoom in/out')
						// Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR
						// element will get class pswp__preloader--active when preloader is running
						.pswp__preloader
							.pswp__preloader__icn
								.pswp__preloader__cut
									.pswp__preloader__donut
					.pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
						.pswp__share-tooltip
					button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
					button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
					.pswp__caption
						.pswp__caption__center
		// Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js
		script(src='/paperDashboard/js/jquery-3.1.1.min.js', type='text/javascript')
		script(src='/paperDashboard/js/jquery-ui.min.js', type='text/javascript')
		script(src='/paperDashboard/js/perfect-scrollbar.min.js', type='text/javascript')
		script(src='/paperDashboard/js/bootstrap.min.js', type='text/javascript')
		// Switch and Tags Input Plugins
		script(src='/paperDashboard/js/bootstrap-switch-tags.js')
		// Circle Percentage-chart
		script(src='/paperDashboard/js/jquery.easypiechart.min.js')
		// Notifications Plugin
		script(src='/paperDashboard/js/bootstrap-notify.js')
		// Paper Dashboard PRO Core javascript and methods for Demo purpose
		script(src='/paperDashboard/js/paper-dashboard23cd.js?v=1.2.1')
		// Sharrre Library
		script(src='/paperDashboard/js/jquery.sharrre.js')
		// Paper Dashboard PRO DEMO methods, don't include it in your project!
		script(src='/paperDashboard/js/demo.js')
		// Photoswipe files
		script(src='/paper/js/photo_swipe/photoswipe.min.js')
		script(src='/paper/js/photo_swipe/photoswipe-ui-default.min.js')
		script(src='/paper/js/photo_swipe/init-gallery.js')